<%- include('partils/header.ejs')%>
<body>
  <%- include('partils/navbar.ejs')%>
  <section>
      <div class="container"> <!-- Class container do boostrap-->
          <hr>
          <div class="title">
                <h1>Seu portal de perguntas e respostas</h1>
                <p>Fala Dev, faça sua pergunta:</p>
          </div>
          <a href="/perguntas" class="btn btn-primary">Perguntar</a>
          <hr>
          <% perguntas.forEach(perguntas =>{ %>
              <div class="card">
                  <div class="card-body">
                      <h4><%= perguntas.titulo %></h3> <!--Variavel coloca simbolo de '='-->
                  </div>
                  <div class="card-footer">
                      <a href="/viewperguntas/<%= perguntas.id %>"><button class="btn btn-success">Responder</button></a>
                  </div>                
              </div>
              <br>
          <% }) %>
      </div>
  </section>
  <%- include('partils/footer_descripton.ejs')%>
</body>
<%- include('partils/footer.ejs')%>

