<%- include('partils/header.ejs')%>
<body>
    <%- include('partils/navbar.ejs')%>
    <br>
    <div class="container">  
        <div class="resposta">          
            <h1 id="tituloPergunta"><%= perguntas.titulo %></h1>
            <hr>
            <p><%= perguntas.descricao %></p>
        </div>
        <br>
        <% respostas.forEach(respostas =>{ %>
            <div class="card">
                <div class="card-body">
                    <p><%= respostas.resposta %></p>
                </div>
            </div>
            <br>
        <% }) %>
        <form method="post" action="/responder">
            <h3 class="body">Faça sua resposta</h3>
            <textarea placeholder="Digite sua solução" name="resposta" class="form-control"></textarea>
            <br>
            <input type="hidden" name="perguntaID" value="<%= perguntas.id %>">
            <button type="submit" class="btn btn-success">Responder</button>
        </form>
    </div>
    <%- include('partils/footer_descripton.ejs')%>
</body>
<%- include('partils/footer.ejs')%>